p, span, li, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    font-size: 20px;
    margin: 0px 20px;
}

.nav-link:hover {
    color: #ffffff;
    border-bottom: 5px solid #555755;
    transition: all 0.2s ease-in;
}

.nav-link:active {
    color: #ffffff;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

.hero-section, .how-section, .work-section {
    padding: 80px 0px;
}

.hero-btn {
    padding: 20px 80px;
}

.content-link {
    color: #ffffff;
    text-decoration: none;
    width: auto;
    width: 140px;
}

.content-link:hover {
    color: #ffffff;
    border-bottom: 5px solid #555755;
    transition: all 0.2s ease-in;
}

.content-border {
    width: 60px;
    height: 1px;
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

.social-link {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    margin-left: 0px;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}